:root {
    --primary-color: #1abc9c;
    --secondary-color: #2c3e50;
    --accent-color: #ecf0f1;
    --note-bg: #fffbea;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--accent-color);
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: rgb(245, 242, 242);

}

.nav {
    --glow-color: rgb(199, 203, 238);
    text-decoration: none;
    color: rgb(12, 34, 235);
    padding: 5px;
    border-radius: 30%;
    border: 0.25em solid var(--glow-color);
}

.nav:hover {}


header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background: linear-gradient(-45deg, #1247aa, #6c7707, #0a138f, #1d5a04);
          background-size: 110% 120%; 
    animation: gradient 10s ease infinite;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}

#addBtn {
    padding: 0.8rem 1.2rem;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#addBtn:hover {
    background: #34495e;
    transform: scale(1.1);

}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

}

body {
    background: linear-gradient(45deg, #ebb19f, #c795f0, #7ac471, #058067);
      background-size: 200% 200%; 
    animation: gradient 10s ease infinite;
}

.note {
    background: var(--note-bg);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.note:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 10px rgb(20, 1, 18);
}

.note-header {
    background: var(--primary-color);
    color: rgb(3, 38, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.note-header i {
    cursor: pointer;
    margin-left: 0.5rem;
}

.note-title,
.note-content {
    width: 100%;
    border: none;
    resize: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background: transparent;
}

.note-title {
    font-weight: bold;
    background: #dff9fb;
}

.note-content {
    height: 150px;
    background: #fef9e7;
}

textarea:focus {
    outline: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}